@media print {

    /* Styles for elements when printing */
    .print-only {
        display: block;
        /* Make the element visible */
        color: red;
    }

    /* Hide other elements when printing */
    body * {
        display: none;
    }

    /* Show specific elements when printing */
    .element-to-print {
        display: block;
        /* Make the element visible */
        color: aqua;
    }
}